.avatar-setting{
    background-image: url('../../assets/teacher.png');
    background-size: cover;
}

img{
    width: 100%;
    max-height: 200px;
}

mat-card{
    height: 420px;
    max-height: 420px;
    padding: 0;
    margin-bottom: 10px;
    mat-card-header{
        padding-left: 16px;
        padding-top: 16px;
    }

    mat-card-subtitle{
        max-height: 20px;
        overflow: hidden;
    }

    mat-card-content{
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 5px;
        p{
            color: gray;
        }

        .course-timeline{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 5px;
            .course-duration{
                display: flex;
                align-items: center;
            }
        }

        .description{
            max-height: 48px;
            .description-content{
                color: gray;
                text-overflow: ellipsis;
                max-height: 42px;
                overflow: hidden;
                white-space: break-spaces;
                text-overflow: ellipsis;
            }
        }
    }

    mat-card-actions{
        width: 100%;
        margin-left: 0;
        padding-left: 16px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        box-sizing: border-box;
        text-align: right;
        padding-bottom: 10px !important;
    }
}