
<header class="header-6">
    <div class="branding branding-change">
        Courseer
    </div>
    <div class="header-nav">
        <a [routerLink] = "['browse-courses']" (mouseenter) = "showCategories()" (mouseleave) = "hideCategories()" routerLinkActive="active" class="nav-link nav-text align-header"> Browse Courses <mat-icon>expand_more</mat-icon> </a>
        <a [routerLink] = "['create-courses']"  routerLinkActive="active" class="nav-link nav-text"> Create Course </a>
    </div>
    <!-- <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div> -->
</header>

<div class="browse-category-dropdown" (mouseenter) = "showCategories()" (mouseleave) = "hideCategories()" [hidden] = "!showCategoriesOnHover" >
    <h2> Courses By Category </h2>
    <mat-divider></mat-divider>
    <div class="clr-row" *ngIf="allCategory?.length" >
        <div *ngFor="let category of allCategory" class="clr-col-4 clr-col-sm-4 clr-col-md-3 clr-col-lg-2 category-select" (click)="onCategoryClick(category)">
            {{category.name}}
        </div>
    </div>

</div>









  

<router-outlet></router-outlet>