<div class="create-course-container">
    <div>
        <h2 style="padding-top: 20px;"> Create Course </h2>
    </div>

   

   <form class="example-form">

    <div class="clr-row title">
      <h3 for="title"> Title * </h3>
      <input type = "text" class="input-setup" [(ngModel)]="createNewCourse.title" name="title"> 
    </div>

    <div class="clr-row">
      <div class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6 course-duration">
        <h3>Choose a date *</h3>
        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="picker" [(ngModel)]="createNewCourse.start_date" name="created_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6 course-duration">
        <h3>Choose duration for course *</h3>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="createNewCourse.duration" name = "duration">
            <mat-option value="30"> 30 days </mat-option>
            <mat-option value="45"> 45 days </mat-option>
            <mat-option value="60"> 60 days</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="clr-row">
      <div *ngIf="instructors?.length" class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6  course-duration" >
       <h3> Choose Instructor * </h3> 
       <mat-form-field appearance="fill">
         <!-- <mat-label>Choose Instructor</mat-label> -->
         <mat-select [(ngModel)]="createNewCourse.instructor_ids" name = "instructors" multiple name="select-instructor"> 
           <mat-option *ngFor="let user of instructors" [value]="user.id" > {{user?.name}} </mat-option>
         </mat-select>
       </mat-form-field>
      </div>

      <div *ngIf="allCategory?.length" class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-6  course-duration">
        <h3> Choose Categories * </h3> 
        <mat-form-field appearance="fill">
          <!-- <mat-label>Select Categ</mat-label> -->
          <mat-select [(ngModel)] = "createNewCourse.category_ids" multiple name = "select-category">
            <mat-option *ngFor="let category of allCategory" [value]="category.id">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

     <div>
       <h3> Description </h3>
       <textarea rows="5" cols="25" class="course-description" [(ngModel)]="createNewCourse.description" name="description"> </textarea>
     </div>

  </form>

  <button mat-raised-button class="create-course" (click)="validateCourse()"> Create Course </button>
   
</div>