<div class="search-content-parent">
    <div class="search-content">
        <div class="search-container">
            <input placeholder="Search your course here..." type = "text" [(ngModel)] = "searchString" (input) = "searchCourse()" [ngClass]="{'search-active': (searchedCategories.length || searchedInstructors.length)}" >
            <div *ngIf="searchedCategories.length && searchCriteria == 'Category'" class="search-suggestion"> 
                <div *ngFor="let category of searchedCategories" class="suggestions" (click)="searchString = category.name; onItemClick(category.id)" >
                    {{category.name}}
                </div>
            </div>
    
            <div *ngIf="searchedInstructors.length && searchCriteria == 'Instructor' " class="search-suggestion">
                <div *ngFor="let instructor of searchedInstructors" class="suggestions" (click)="searchString = instructor.name;onItemClick(instructor.id)" >
                    {{instructor?.name}}
                </div>
            </div>
        </div>
    
        <div class="search-by-criteria">
            <mat-form-field appearance="fill">
                <!-- <mat-label>Select Categ</mat-label> -->
                <mat-select [(ngModel)] = "searchCriteria" (ngModelChange) = "clearAllSearchVariable()">
                  <mat-option value = "Category"> By Category </mat-option>
                  <mat-option value = "Instructor"> By Instructor </mat-option>
                  <mat-option value = "Name"> By Course Name </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    
    <div class="show-courses">
        <div class="chips">
            <mat-chip-list aria-label="Search queries" *ngFor="let search of searchedQuery" >
                <mat-chip> {{search}} </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngIf="searchedCourses?.length" class="clr-row" >
            <div *ngFor="let course of searchedCourses" class="clr-col-12 clr-col-sm-12 clr-col-md-6 clr-col-lg-4" >
                <app-select-course [showCourse] = "course" [instructorInfo] = "getCourseInstructor(course.instructor_ids)"></app-select-course>
            </div>
        </div>
    </div>
    
    <div *ngIf="!searchedCourses.length" class="not-found" >
        Courses Not Found
    </div>
</div>





